<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrustMeBroBank</title>
    @* Odkaz na tvůj CSS soubor v wwwroot/css/site.css *@
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="main-title">
                <h1>TrustMeBroBank</h1>
                <div class="button-group">
                    @if (TempData["logged"] == null)
                    {
                        <button class="standard-button" onclick="window.location.href='/User/Login'">Přihlásit se</button>
                        <button class="standard-button" onclick="window.location.href='/User/Register'">Registrovat</button>
                    }
                    else
                    { 
                        <button class="standard-button" onclick="window.location.href='/User/Profile'">Profil</button>
                        <button class="standard-button" onclick="window.location.href='/Note/List'">Poznamky</button>
                     
                    }
                </div>
            </div>
            <nav class="links-within-site">
                <table class="odkazy-na-jednotlive-stranky">
                    <tr>
                        <td class='@(ViewData["ActivePage"]?.ToString() == "Index" ? "active" : "")'>
                            <a href="/Home/Index">Index</a>
                        </td>
                        <td class='@(ViewData["ActivePage"]?.ToString() == "Onas" ? "active" : "")'>
                            <a href="/Home/Onas">Onas</a>
                        </td>
                        <td class='@(ViewData["ActivePage"]?.ToString() == "Sluzby" ? "active" : "")'>
                            <a href="/Home/Sluzby">Sluzby</a>
                        </td>
                        <td class='@(ViewData["ActivePage"]?.ToString() == "Kontakt" ? "active" : "")'>
                            <a href="/Home/Kontakt">Kontakt</a>
                        </td>
                    </tr>
                </table>
            </nav>
        </header>

        <main role="main">
            @* TADY SE BUDE VKLÁDAT OBSAH JEDNOTLIVÝCH STRÁNEK *@
            @RenderBody()
        </main>

        <footer style="margin-top: 50px; padding: 20px; border-top: 1px solid rgba(0,0,0,0.1);">
            <p>&copy; 2026 TrustMeBroBank | Licencováno v zemi, o které jste pravděpodobně nikdy neslyšeli.</p>
        </footer>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>